html {
    background-color:rgb(255, 241, 243);
}

.navbar {
 background-color: rgb(255, 241, 243);
}

.nav-item {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

body {
    background-color: rgb(255, 241, 243);
}

.navbar-brand {
    height: 48px;
    display: flex;
    height: 85px;
}

h2 {
    
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

.card {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
   
footer {
padding-top: 30px;
font-family: 'Courier New', Courier, monospace;
text-align: center;

}

h2 our-story {

    text-align: center;
}

#our-story {

    text-align: center;
}

p {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}


h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

#ourstoryimage {

    height: 500px;
    padding-bottom: 20px;

}

.carousel-item img {


    padding-left: 2%;
    padding-right: 2%;

}

.img-fluid {
    max-width: 100%;
    height: auto;
}

